[submodule "terraform-azurerm-resource-group"]
	path = terraform-azurerm-resource-group
	url = git@github.com:leshawn-rice/terraform-azurerm-resource-group.git
[submodule "azurerm/terraform-azurerm-resource-group"]
	path = azurerm/terraform-azurerm-resource-group
	url = git@github.com:leshawn-rice/terraform-azurerm-resource-group.git
[submodule "azurerm/stacks/terraform-test-stack"]
	path = azurerm/stacks/terraform-test-stack
	url = git@github.com:leshawn-rice/terraform-test-stack.git
[submodule "azurerm/terraform-azurerm-standard-naming"]
	path = azurerm/terraform-azurerm-standard-naming
	url = git@github.com:leshawn-rice/terraform-azurerm-standard-naming.git
[submodule "azurerm/terraform-azurerm-tags"]
	path = azurerm/terraform-azurerm-tags
	url = git@github.com:leshawn-rice/terraform-azurerm-tags.git
[submodule "azurerm/terraform-azurerm-subnet"]
	path = azurerm/terraform-azurerm-subnet
	url = git@github.com:leshawn-rice/terraform-azurerm-subnet.git
[submodule "azurerm/terraform-azurerm-container-group"]
	path = azurerm/terraform-azurerm-container-group
	url = git@github.com:leshawn-rice/terraform-azurerm-container-group.git
[submodule "azurerm/terraform-azurerm-virtual-network"]
	path = azurerm/terraform-azurerm-virtual-network
	url = git@github.com:leshawn-rice/terraform-azurerm-container-group.git
[submodule "git@github.com:leshawn-rice/terraform-azurerm-virtual-network.git"]
	url = terraform-azurerm-virtual-network/
